@{
    ViewBag.Title = "Home Page";
}

<div data-view='person'>
    Loading Content
</div>

<div data-view-model='person'>
    Hello there <span data-bind="text: fullName"></span>!
</div>

<div data-vvm='person'>

</div>

@section scripts
{
<script src="/Scripts/require.js" data-main="app/main"></script>
}